
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Tipster!</strong>
    <p>Contactless Tipping with your phone.</p>
    <br/>
    <img src="/assets/images/logo.png"/><br/>
    <ion-button color="primary" expand="block">Give a tip</ion-button><br/>
    <ion-button color="secondary" expand="block">Receive a tip</ion-button>
  </div>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title class="tiny">&copy; 2021 The Bros</ion-title>
    </ion-toolbar>
  </ion-footer>
